$color-violet: #ad1fea;
$color-blue: #4661e6;
$color-blue-dark: #3a4374;
$color-blue-darkest: #373f68;
$color-blue-grey: #647196;
$color-blue-light: #62bcfa;
$color-white: #fff;
$color-white-2: #f7f8fd;
$color-white-3: #f2f4ff;
$color-orange: #f49f85;
$color-red: #d73737;

$media-s: 691px;
$media-m: 768px;
$media-l: 1250px;

$width-max: 111.1rem;

// $header-height: 0;
// $header-height-m: 0;
