@import './variables';

.back-link {
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.9rem;
    background-color: transparent;

    @media (min-width: $media-m) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &:hover {
    @media (min-width: $media-m) {
      text-decoration: underline;
    }
  }

  &--blue {
    color: $color-blue-grey;
  }

  &--white {
    color: $color-white;

    & > svg > path {
      stroke: $color-white;
    }
  }

  svg {
    pointer-events: none;
    margin-right: 13px;
    height: 1rem;
    width: 0.7rem;
  }
}
