@import './variables';

@mixin comment-line($top: 0, $height: 100%, $display: block) {
  position: absolute;
  display: $display;
  top: $top;
  left: 0;
  content: '';
  width: 1px;
  height: $height;
  background-color: rgba(100, 113, 150, 0.1);
}

@mixin parent-line($top: 0, $height: 100%, $mobile-display: none) {
  @include comment-line($top, $height, $mobile-display);

  @media (min-width: $media-m) {
    display: block;
    left: 20px;
  }
}

.comment {
  position: relative;
  overflow: hidden;

  &--parent {
    & > .reply-form::before {
      @include parent-line();
    }

    & > .comment__content {
      overflow: hidden;

      &::before {
        @include parent-line(63px);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 20;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
    background-color: $color-white;

    img {
      margin-right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      @media (min-width: $media-m) {
        margin-right: 32px;
      }
    }
  }

  &__user {
    h2 {
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.18px;
      color: $color-blue-dark;

      @media (min-width: $media-m) {
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: 0.19px;
      }
    }

    span {
      display: block;
      font-size: 1.3rem;
      font-weight: 400;
      color: $color-blue-grey;

      @media (min-width: $media-m) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }

  &__reply {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    color: $color-blue;
    background-color: inherit;
    border: 0;

    @media (min-width: $media-m) {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__copy {
    position: relative;
    padding-top: 16px;
    font-size: 1.3rem;
    background-color: $color-white;
    color: $color-blue-grey;

    @media (min-width: $media-m) {
      margin-left: 72px;
      padding-top: 17px;
      font-size: 1.5rem;
      line-height: 2.2rem;
    }

    span {
      display: inline-block;
      color: $color-violet;
      font-weight: 700;
      padding-right: 6px;

      @media (min-width: $media-m) {
        padding-right: 8px;
      }
    }

    &--0 {
      padding-bottom: 24px;
    }

    &--1 {
      @media (min-width: $media-m) {
        padding-top: 10px;
      }
      @media (min-width: $media-l) {
        padding-top: 17px;
      }
    }
  }

  &__replies {
    margin-bottom: 24px;
  }

  &--child {
    padding-left: 24px;

    @media (min-width: $media-m) {
      padding-left: 45px;
    }
  }

  &__replies &--child {
    &:first-of-type {
      @media (min-width: $media-m) {
        padding-top: 8px;
      }
    }

    &:not(:first-of-type) {
      padding-top: 24px;

      @media (min-width: $media-m) {
        padding-top: 17px;
      }
      @media (min-width: $media-l) {
        padding-top: 32px;
      }
    }

    &:not(:last-of-type)::before {
      @include comment-line();

      @media (min-width: $media-m) {
        left: 20px;
      }
    }

    &:last-of-type::before {
      @include comment-line($height: 44px);

      @media (min-width: $media-m) {
        height: 37px;
        left: 20px;
      }
      @media (min-width: $media-l) {
        height: 52px;
      }
    }
  }
}
