@import './variables';

.form-wrapper {
  margin: 34px 0 77px 0;
  padding: 0 24px;
  color: $color-blue-dark;

  @media (min-width: $media-m) {
    margin: 56px auto 122px;
    max-width: 54rem;
    padding: 0;
  }
  @media (min-width: $media-l) {
    margin: 92px auto 129px;
  }

  &__backlink {
    display: flex;
    justify-content: left;
  }

  &__main {
    position: relative;
    margin-top: 55px;
    padding: 44px 24px 24px 24px;
    background-color: $color-white;
    border-radius: 10px;

    @media (min-width: $media-m) {
      margin-top: 68px;
      padding: 52px 42px 40px 42px;
    }
  }

  i {
    position: absolute;
    display: block;
    top: -20px;
    left: 24px;
    width: 40px;
    height: 40px;
    background-size: cover;

    @media (min-width: $media-m) {
      left: 42px;
      top: -28px;
      width: 56px;
      height: 56px;
    }
  }

  h1 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.25px;
    margin-bottom: 24px;

    @media (min-width: $media-m) {
      font-size: 2.4rem;
      line-height: 3.5rem;
      letter-spacing: 0.33px;
      margin-bottom: 40px;
    }
  }
}

.icon--create {
  background-image: url(../images/shared/icon-new-feedback.svg);
}

.icon--edit {
  background-image: url(../images/shared/icon-edit-feedback.svg);
}

.icon--signup {
  background-image: url(../images/shared/icon-signup.svg);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 0.5rem;

  @media (min-width: $media-m) {
    gap: 0.4rem;
  }

  &__req-err {
    display: block;
    margin-bottom: 12px;
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: 0.25px;
    color: $color-red;
    text-align: center;

    @media (min-width: $media-m) {
      font-size: 2rem;
      line-height: 2.9rem;
      letter-spacing: 0.33px;
    }
  }

  &__success {
    font-size: 1.3rem;
    line-height: 1.9rem;

    @media (min-width: $media-m) {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);

    & > * {
      display: block;
      font-size: 1.3rem;
      line-height: 1.9rem;

      @media (min-width: $media-m) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    & > p {
      color: $color-blue-grey;
      margin-bottom: 16px;
    }

    & > label {
      letter-spacing: 0.18px;
      font-weight: 700;
      margin-bottom: 3px;

      @media (min-width: $media-m) {
        letter-spacing: 0.19px;
        margin-bottom: 2px;
      }
    }
  }

  input,
  textarea {
    outline: none;
    border: 1px solid transparent;
    background-color: $color-white-2;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    color: inherit;

    &:focus {
      border: 1px solid $color-blue;
    }
  }

  input {
    padding: 14px 15px 13px 15px;

    @media (min-width: $media-m) {
      padding: 12px 23px;
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }

  textarea {
    padding: 15px;
    resize: vertical;
    min-height: 120px;

    @media (min-width: $media-m) {
      padding: 15px 23px;
      min-height: 96px;
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  }

  & &__input.form__input--err {
    border-color: red;
  }

  &__err {
    min-height: 1.9rem;
    color: $color-red;

    @media (min-width: $media-m) {
      font-size: 1.4rem;
      min-height: 2rem;
    }
  }

  &__toggle-item {
    margin: 12px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: start;
    align-items: center;

    label {
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.18px;
      justify-self: start;

      @media (min-width: $media-m) {
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: 0.194px;
      }
    }
  }

  input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
  }

  &__btns {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 16px;
    max-width: 28rem;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $media-m) {
      padding-top: 8px;
      max-width: none;
    }
    @media (min-width: $media-l) {
      padding-top: 16px;
    }
  }

  &__btns--1 {
    max-width: 16rem;

    @media (min-width: $media-m) {
      max-width: 18rem;
    }
  }

  &__btns--2 {
    grid-template-rows: auto auto;

    @media (min-width: $media-m) {
      grid-template-columns: 1fr auto;
      grid-template-rows: auto;
      justify-items: end;

      & > *:last-child {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }
  }

  &__btns--3 {
    grid-template-rows: repeat(3, auto);

    @media (min-width: $media-m) {
      grid-template-columns: 1fr auto auto;
      grid-template-rows: auto;
      justify-items: start;

      & > *:first-child {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }
      & > *:last-child {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }
  }
}
