@import './variables';

.no-content {
  padding: 76px 24px;
  background-color: $color-white;
  border-radius: 10px;

  i {
    display: block;
    margin: 0 auto 39px;
    height: 108px;
    width: 102px;
    background-image: url(../images/suggestions/illustration-empty.svg);
    background-size: cover;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
    letter-spacing: 0.25px;
    color: #3a4374;
  }

  p {
    margin: 14px auto 24px;
    max-width: 41rem;
    font-size: 1.3rem;
    line-height: 1.9rem;
    text-align: center;
    color: $color-blue-grey;
  }

  &__cta {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $media-m) {
  .no-content {
    padding: 110px 100px;

    i {
      height: calc(108px * 1.27);
      width: calc(102px * 1.27);
      margin-bottom: 53px;
    }

    h3 {
      font-size: 2.4rem;
      line-height: 3.5rem;
      letter-spacing: 0.33px;
    }

    p {
      margin: 16px auto 48px;
      font-size: 1.6rem;
      line-height: 2.3rem;
    }
  }
}

@media (min-width: $media-l) {
  .no-content {
    padding: 110px 150px;
  }
}
