@import "./variables";

.suggest-counter {
  display: flex;
  align-items: center;
  margin-right: 38px;

  @media (max-width: 767px) {
    display: none;
  }

  span {
    display: block;
    margin-left: 16px;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.25px;
  }
}
