@import '../../styles/variables';

.view {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 24px;

  &__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border-bottom: 1px solid rgba(140, 146, 179, 0.25);
  }

  &__stat {
    position: relative;
    padding: 20px 5px 19px 5px;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: 0.18px;
    color: $color-blue-dark;
    opacity: 0.4;

    &--active {
      opacity: 1;

      &::before {
        position: absolute;
        content: '';
        bottom: -1px;
        left: 0;
        height: 4px;
        width: 100%;
      }
    }

    &--orange::before {
      background-color: $color-orange;
    }
    &--violet::before {
      background-color: $color-violet;
    }
    &--blue::before {
      background-color: $color-blue-light;
    }
  }

  &__groups {
    display: grid;
    grid-template-columns: 1fr;
    // Other 2 elements are hidden when not active (while below $media-m breakpoint)
    grid-template-rows: auto;
    padding: 0 24px;
  }

  &__group {
    display: none;

    &--active {
      display: block;
    }

    > h2 {
      font-size: 1.8rem;
      line-height: 2.6rem;
      letter-spacing: 0.25px;
      color: $color-blue-dark;
    }

    > p {
      font-size: 1.3rem;
      line-height: 1.9rem;
      color: $color-blue-grey;
      margin: 4px 0 24px 0;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 16px;
  }

  > button {
    justify-self: center;
  }
}

@media (min-width: $media-m) {
  .viewWrapper {
    padding-top: 32px;
  }

  .view {
    &__stats {
      display: none;
    }

    &__groups {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      padding: 0;
    }

    &__group {
      display: block;

      > h2 {
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: 0.19px;
      }

      > p {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}

@media (min-width: $media-l) {
  .viewWrapper {
    padding-top: 48px;
  }

  .view {
    gap: 32px;

    &__groups {
      gap: 30px;
    }

    &__group {
      > h2 {
        font-size: 1.8rem;
        line-height: 2.6rem;
        letter-spacing: 0.25px;
      }

      > p {
        font-size: 1.6rem;
        line-height: 2.3rem;
        margin: 4px 0 32px 0;
      }
    }

    &__items {
      gap: 24px;
    }
  }
}
